.DS_Store
__pycache__/
*.out
2007/.DS_Store
2009/.DS_Store
2010/__pycache__/__init__.cpython-37.pyc
2011/.DS_Store
2013/__pycache__/__init__.cpython-37.pyc
2014/__pycache__/__init__.cpython-37.pyc
2015/.DS_Store
2015/__pycache__/__init__.cpython-37.pyc
2016/__pycache__/__init__.cpython-37.pyc
2017/__pycache__/__init__.cpython-37.pyc
2018/__pycache__/__init__.cpython-37.pyc
2019/Junior/__pycache__/__init__.cpython-37.pyc
2019/Senior/__pycache__/__init__.cpython-37.pyc
